@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Open+Sans:ital,wght@1,500&display=swap');


:root {
	--cor0: #262523;
    --cor1: #593B2A;
    --cor2: #D9896C;
    --cor3: #D9B1A3;
    --cor4: #8C594D;
    --font-padrao: 'Open Sans', sans-serif;
    --font-secundaria: 'DynaPuff', 'cursive';
}




.principal {
	background: #CCCCCC;
	padding: 30px;
}

.título-principal {
	padding-left: 20px;
	font-size: 3em;
	margin-bottom: 20px;
}

.título-centralizado {
	text-align: center;
}

p {
	text-align: center;
}

#missao{
	font-size: 20px
}

em strong {
	color: #FF0000;
}

.itens {
	font-style: italic;
}

.beneficios {
	background: #FFFFFF;
	padding: 20px;
}

ul{
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagembeneficios {
	width: 50%;
}